SOLIDSIGN_API_BASE_URL=http://localhost:8080
SOLIDSIGN_API_AUTHORIZATION=Bearer eyJ...
SOLIDSIGN_CERT_ID=82e227ab-8422-45a1-9936-478283c8c490
SOLIDSIGN_BATCH_INPUT_PATH=C:/input_files
SOLIDSIGN_BATCH_OUTPUT_PATH=C:/signed_results
SOLIDSIGN_SIG_PROFILE=ADRB
SOLIDSIGN_SIG_HASH_ALGORITHM=SHA256
SOLIDSIGN_SIG_PACKAGING=ENVELOPING
SOLIDSIGN_SIG_POLICY_VERSION=
PORT=8091
